<?xml version="1.0"?>
<launch>
    <arg default="test" name="robot_name"/>
    <arg default="/$(arg robot_name)" name="namespace"/>
    <node name="tag_master_node" type="tag_master_node" ns ="$(arg robot_name)" pkg="tag_master" output="screen"></node>
    <rosparam file="$(find tag_master)/param/id_sizes.yaml" command="load"/>
</launch>
